.projects-navbar {
    background: url('../../../images/gallery99@2x.png');
    background-color: #212121;
    width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.text-shadow-dark {
    text-shadow: 2px 4px 8px rgba(255, 255, 255, 0.4);
}

.text-shadow-light {
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
}

.outline-black {
    -webkit-text-stroke: 0.3px black;
}

.inline-link {
    color: #c9b3f1;
}

.inline-link:hover {
    color: #c9b3f1dc;
    cursor: pointer;
    transition: all ease 0.3s;
}

.next-section-btn {
    font-size: 2.5rem;
    opacity: 0.85;
}

.next-section-btn:hover {
    opacity: 1;
    transform: scale(1.1);
    cursor: pointer;
    transition: all ease 0.4s;
}