.nav-title {
    letter-spacing: 0.4px;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    display: inline !important;
    position: relative;
    color: rgba(167, 226, 250, 0.8) !important;
}

.nav-title:hover {
    color: rgb(193, 236, 253) !important;
    transform: scale(1.05, 1.05);
    transition: all ease 0.4s;
}

.nav-title::after {
    content: 'Shades of Demon';
    position: absolute; left: -4px; top: 7px;
    color: rgba(247, 89, 142, 0.4);
}

.nav-item {
    margin-left: auto;
    margin-right: 6px;
}

.navbar-nav .nav-item:hover {
    cursor: pointer;
    color: rgba(167, 226, 250, 0.8) !important;
    transition: all ease 0.4s;
}