.nav-title {
    width: 300px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.nav-title:hover {
    transform: scale(1.04);
}

.navbar-item {
    margin-left: 20px;
    font-weight: 600;
    font-size: 1.05rem;
    letter-spacing: 0.4px;
    transition: all ease 0.4s;
}

.navbar-nav .navbar-item:hover {
    cursor: pointer;
    color: rgba(167, 226, 250, 0.98) !important;
    transform: scale(1.05);
}

.navbar-collapse {
    display: flex !important;
    align-items: initial !important;
}