.gallery-navbar {
    background: url('https://res.cloudinary.com/yelp-camp/image/upload/v1587313984/portfolio/gallery96_2x.png');
    width: 100%;
    min-height: 100%;
    background-color: #212121;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.text-shadow-dark {
    text-shadow: 2px 4px 8px rgba(255, 255, 255, 0.4);
}

.text-shadow-light {
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
}

.outline-black {
    -webkit-text-stroke: 0.3px black;
}

.inline-link-gallery {
    color: #c4e999;
}

.inline-link-gallery:hover {
    color: #c4e999b6;
    cursor: pointer;
    transition: all ease 0.3s;
}

.gallery-container {
    padding: 6rem 0;
}