.navbar-bg {
    background: url('https://res.cloudinary.com/yelp-camp/image/upload/v1587313984/portfolio/gallery100_2x.png');
    width: 100%;
    min-height: 100%;
    background-color: #212121;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.text-theme {
    color: rgb(11, 14, 51);
}

.text-shadow-dark {
    text-shadow: 2px 4px 8px rgba(255, 255, 255, 0.4);
}

.text-shadow-light {
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
}

.outline-black {
    -webkit-text-stroke: 0.3px black;
}

.bio-text {
    letter-spacing: 0.2px;
    white-space: pre-wrap;
    font-size: 1.2rem;
}

.bio-logos {
    width: 40%;
    display: flex;
    flex-direction: row;
    margin: 24px auto;
    align-items: center;
    justify-content: space-around;
}

.logo {
    font-size: 1.5rem;
    cursor: pointer;
}

.logo-1:hover {
    color: rgb(240, 180, 255);
    transform: scale(1.1);
    transition: all ease 0.4s;
}

.logo-2:hover {
    color: rgb(183, 223, 255);
    transform: scale(1.1);
    transition: all ease 0.4s;
}

.logo-3:hover {
    color: rgb(176, 255, 209);
    transform: scale(1.1);
    transition: all ease 0.4s;
}

.logo-4:hover {
    color: rgb(254, 255, 191);
    transform: scale(1.1);
    transition: all ease 0.4s;
}

.logo-5:hover {
    color: rgb(255, 188, 188);
    transform: scale(1.1);
    transition: all ease 0.4s;
}

#about-section {
    padding: 60px 0;
}

.hr {
    width: 60%;
    margin-top: 48px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(11, 14, 51, 0.75), rgba(0, 0, 0, 0));
}

.about-img {
    width: 300px !important;
    height: 300px !important;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
}

.projects-header {
    width: 100%;
    background: #283c86;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45a247, #283c86);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #45a247, #283c86);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gallery-header {
    width: 100%;
    background: #C33764;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.projects-header-title, .gallery-header-title {
    color: #ffffff;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 32px;
    align-self: center;
    font-weight: 600;
}

.divider {
    width: 6px;
    background-color: white;
    height: 100%;
    border-radius: 8px;
    margin: 0 auto;
}

.gallery {
    margin: 0 auto 60px;
    padding: 0;
}

.projects-carousel {
    margin: 80px auto;
}

.carousel-inner {
    border-radius: 10px;
    box-shadow: 6px 8px 12px rgba(0, 0, 0, 0.3);
}

.row {
    margin: 0;
}

.styled-button {
    padding: 20px 10px;
    width: 80%;
    background: none;
    border: none;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
}

.styled-button:after, .styled-button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 2px solid #FFFFFF;
    -webkit-transition: -webkit-transform 0.25s, background-color 0.25s;
    transition: -webkit-transform 0.25s, background-color 0.25s;
    transition: transform 0.25s, background-color 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s, background-color 0.25s;
}

.styled-button:after {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
}

.styled-button:before {
    -webkit-transform: translate(-4px, -4px);
    transform: translate(-4px, -4px);
}

.styled-button:hover:after, .styled-button:hover:before {
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-transform: translate(0);
    transform: translate(0);
}