.gallery-slideshow {
    margin-top: 20px;
}

.gallery-carousel-img {
    height: 650px;
}

.gallery .carousel {
    height: 650px;
}

@media screen and (max-width: 500px) {
    .gallery-carousel-img {
        height: 500px;
    }

    .gallery .carousel {
        height: 500px;
    }
}