.body-container {
    scroll-behavior: smooth;
    border-radius: 6px;
    background: url(../../images/portfolio-bg.svg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 10;
    height: 100%;
    -ms-overflow-style: none;
}

.body-container::-webkit-scrollbar {
    display: none;
}