.body-container {
    border-radius: 6px;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 10;
    height: 100%;
    -ms-overflow-style: none;
}

.body-container::-webkit-scrollbar {
    display: none;
}