.project-row {
    padding: 4rem 0 2rem 0;
    min-height: 100vh;
}

.project-img {
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.45);
    max-height: 500px;
    border-radius: 5px;
}

.project-title {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.3px;
    text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.4);
}

.next-section-btn {
    font-size: 2.5rem;
    opacity: 0.85;
}

.next-section-btn:hover {
    opacity: 1;
    transform: scale(1.1);
    cursor: pointer;
    transition: all ease 0.4s;
}

.project-row ul {
    padding-inline-start: 16px !important;
}

.project-content li {
    margin-bottom: 16px;
}